<!doctype html>
<html lang="pt-br">
<head>
   <meta charset="utf-8"/>
   <title>Formulario</title>
   <link rel="stylesheet" type="text/css" href="_css/form.css"/>
   <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>
<body>
  <h1>Programando em PHP - Formulário</h1>
   <div class="form animated rubberBand">
    <form method="GET" action="">
      Valor: <input type="text" name="valor" required="true">
      <input type="submit" value="Enviar">
    </form>
   </div>

</body>
</html>
